<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8" />
    <title>My First Page</title>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(
            function(){
            var messageBody = /*[[${message}]]*/ 'default';
            $("#messageid").html(messageBody);
            }
        );
    </script>
</head>
<body>
<H1>Hello <span th:text="${name}"></span> from spring mvc </H1>
<H2>From intelliJ</H2>
<div id = "messageid" />
</body>
</html>